/* You can add global styles to this file, and also import other style files */
body
{
  background: #341b67;
  min-height: 100vh;
  margin: 0 auto;
}
.background
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: opacity(0.1);
  /*background: url("assets/res/img/typing.gif") no-repeat;*/
  background-size: 100%;
  z-index: -1;
}
