<header class="p-3 text-white header" id="header">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-6 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">{{'header.title' | translate}}</a></li>
        <li><a  href="assets/docs/book/index.html" target="_blank" i18n class="nav-link px-2 text-white">{{'header.docs' | translate}}</a></li>
      </ul>

      <div class="float-right">
        <a *ngIf="router.url !== '/download'" href="http://localhost/download" type="button" class="btn header_download_btn">{{'header.download' | translate }}</a>
        <select (change)="selectLang($event.target)" class="header_lang mx-4">
          <option class="header_lang_option" *ngFor="let lang of supportLanguages" value="{{lang}}"  [selected]="lang === currentLang()"><img src="assets/res/img/{{lang}}-lang.png">{{lang}}</option>
        </select>
        <a *ngIf="isLoggedIn()" href="http://localhost" class="btn btn-danger logout" (click)="onLogOut()">Logout</a>
      </div>
    </div>
  </div>
</header>
