<div style="position: absolute; top: 25%; left: 0; width: 100%">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <h2 class="text-white">Login</h2>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label class="text-white" for="login">Username</label>
        <input type="text" id="login" formControlName="login" class="form-control" required/>
      </div>
      <div class="form-group">
        <label class="text-white" for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" required />
      </div>
      <div class="form-group my-2">
        <div *ngIf="response == false" class="text-danger">Login error: incorrect login or password</div>
        <button class="btn btn-primary text-right">
          Login
        </button>
      </div>
    </form>

  </div>
</div>
