<app-header></app-header>
<div class="mainpage_content">
  <div class="container">
    <div class="d-flex flex-column align-items-center mainpage_title">
      <h1 class="text-white mainpage_title">{{'home.main-title' | translate}}</h1>
      <div class="d-flex align-items-center justify-content-center mainpage_get mt-2">
        <div class="mainpage_get_item">
          <div class="text-white mainpage_get_title">
            Windows prebuilt binaries
          </div>
          <button class="btn btn-success w-50 mainpage_get_button">Download</button>
        </div>
        <div class="mainpage_get_item">
          <div class="text-white mainpage_get_title">
            Linux prebuilt binaries
          </div>
          <button class="btn btn-success w-50 mainpage_get_button">Download</button>
        </div>
      </div>
    </div>
    <app-social-media style="position: absolute; right: 0; bottom: 0"></app-social-media>
  </div>
</div>
